<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row justify-content-center">
            <div class="col-sm-11">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Awesome Todo list</h4>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <input [(ngModel)]="taskDescription" type="text" class="form-control todo-list-input" placeholder="What do you need to do today?">
                                    </div>

                                    <div class="col-sm-2 text-right">
                                        <button [disabled]="taskDescription.trim().length == 0" (click)="addTask()" class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-wrapper">
                            <ul class="flex-column-reverse todo-list">
                                <li *ngFor="let task of taskList" class="row">
                                    <div class="col-sm-12">
                                        <div class="row" [style]="task.done ? 'text-decoration: line-through;' : null">
                                            <div class="col-sm-10">
                                                <input type="checkbox" [checked]="task.done ? 'checked' : null" (click)="updateTaskStatus(task.id)"> {{ task.description }}
                                                <i class="input-helper"></i>
                                            </div>

                                            <div class="col-sm-2 text-right">
                                                <button type="button" class="btn-sm btn-danger" (click)="deleteTask(task.id)">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>