<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container justify-content-center">
            <div class="col-sm-10">
                <div class="card px-3">
                    <div class="card-body">
                        <h4 class="card-title">Awesome Todo list</h4>
                        <div class="add-items d-flex">
                            <input [(ngModel)]="_taskDescription" type="text" class="form-control todo-list-input" placeholder="What do you need to do today?"> <button (click)="addTask()" class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button>
                        </div>

                        <div class="list-wrapper">
                            <ul class="d-flex flex-column-reverse todo-list">
                                <li *ngFor="let task of _taskList">
                                    <div class="form-check">
                                        <label class="form-check-label"> 
                                            <input type="checkbox" [attr.checked]="task.done ? 'checked' : null" (click)="updateTaskStatus(task.id)"> {{ task.description }} <i class="input-helper"></i>
                                        </label>
                                    </div>

                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>